<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Windows" />
  </system.web>
  <connectionStrings>
    <add name="eBillingConfigurations" connectionString="data source=.\sqlexpress;initial catalog=eBillingConfigurations;User ID=sa;Password=123+qwe;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Desmaterializacao" connectionString="data source=.\sqlexpress;initial catalog=Desmaterializacao2016;User ID=sa;Password=123+qwe;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EBC_DB" connectionString="data source=.\sqlexpress;initial catalog=EBC_DB_2016;User ID=sa;Password=123+qwe;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CIC_DB" connectionString="data source=.\sqlexpress;initial catalog=CIC_DB_2016;User ID=sa;Password=123+qwe;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EDI_DB" connectionString="data source=.\sqlexpress;initial catalog=EDI_DB_2016;User ID=sa;Password=123+qwe;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="ebcExternalWS.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
