
@{
    Layout = null;
    ViewBag.Title = "OCR";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>OCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/Scripts/OCR/fc.css">
    <link rel="stylesheet" href="~/Scripts/OCR/app.css">
    <script src="~/Scripts/OCR/jquery.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        #hide {
            display: none;
        }
    </style>
</head>
<body>

@using (Html.BeginForm("Duplex", "ImageWork", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div class="container">
        <button type="button" class="btn btn-success btn-lg" id="image-mapper-upload">Select Image from My PC</button>
        <input name="file" id="image-mapper-file" type="file">

        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="image-map-wrapper">
                            <div id="image-map-container">
                                <div id="image-map" style="max-width: 100%" class="image-mapper">
                                    <img class="image-mapper-img">
                                    <svg class="image-mapper-svg"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" id="image-mapper-table">
                    <thead>
                        <tr>
                            <th>Active</th>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 65px">
                                <div class="control-label input-sm"><input name="im[0][active]" value="1" checked="checked" type="radio"></div>
                            </td>

                            <td style="width: 0%" id="hide">
                                <select id="Forma" name="im[0][shape]" class="form-control input-sm">
                                    <option value="rect" selected="selected">Rect</option>
                                </select>
                            </td>

                            <td>
                                <select id="Forma" name="im[0][shape]" class="form-control input-sm">
                                    <option value="rect" selected="selected">Rect</option>
                                </select>
                            </td>

                            <td>
                                <input name="Value" placeholder="Value" class="form-control input-sm" type="text">
                            </td>

                            <td>
                                <button class="btn btn-default btn-sm remove-row" name="im[0][remove]" value="">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" style="text-align: right">
                                <button type="button" class="btn btn-danger btn-sm add-row">
                                    <span class="glyphicon glyphicon-plus">Add New Area</span>
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>

                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-code">Show Me The Coordinates!</button>
                <button type="submit" class="btn btn-success btn-lg" id="enviar" onclick="GetCoords()">Enviar</button>
                <input type="hidden" name="coords" value="" id="coords" />

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-code" tabindex="-1" role="dialog" aria-labelledby="modal-code-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-code-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal-code-label">Generated Image Map Output</h4>
                </div>
                <div class="modal-body"><textarea class="form-control input-sm" readonly="readonly" id="modal-code-result" rows="10"></textarea></div>
                <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>

            </div>
        </div>
    </div>
    }

    <script src="~/Scripts/OCR/app.js">
    </script>
    

    <script>
        function GetCoords() {
            document.getElementById('coords').value = document.getElementById('modal-code-result').value;
        }
    </script>
    <script>
			(function ($) { $(document).trigger('init'); })(jQuery);
    </script>


</body>
</html>
