@{
	Layout = null;
}
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Fluxo de Trabalho</span>
	</div> <!-- / .panel-heading -->
	<div class="panel-body">
		<div class="tab-content tab-content">
			<div class="row" id="design">				
				<div class="demo statemachine-demo" id="statemachine-demo">					
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="opened" style="left: 111px; top: 162px;">NOVO DOCUMENTO<div class="ep"></div></div>
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="phone1" style="left: 402px; top: 261px;">Joaquim Alegre<div class="ep"></div></div>
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="phone2" style="left: 584px; top: 354px;">Tiago Esteves<div class="ep"></div></div>
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="inperson" style="left: 721px; top: 264px;">Ricardo Alc.<div class="ep"></div></div>
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="ended" style="left: 821px; top: 264px;">Valter<div class="ep"></div></div>
					<div class="w jsplumb-draggable jsplumb-droppable _jsPlumb_endpoint_anchor_" id="rejected" style="left: 586px; top: 160px;">Joana Barbosa<div class="ep"></div></div>
					<div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable _jsPlumb_endpoint_connected _jsPlumb_endpoint_full jsplumb-draggable" style="position: absolute; height: 4px; width: 4px; left: 400px; top: 291px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable _jsPlumb_endpoint_connected jsplumb-draggable" style="position: absolute; height: 4px; width: 4px; left: 176px; top: 192.666666666667px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><svg style="position:absolute;left:178px;top:191.66666666666669px" width="222" height="107.2954916001739" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml" class="_jsPlumb_connector"></svg><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable _jsPlumb_endpoint_connected _jsPlumb_endpoint_full jsplumb-draggable" style="position: absolute; height: 4px; width: 4px; left: 719px; top: 286.5px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable _jsPlumb_endpoint_connected jsplumb-draggable" style="position: absolute; height: 4px; width: 4px; left: 511px; top: 291px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><svg style="position:absolute;left:513px;top:281.80792379595044px" width="206" height="35.44207620404953" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml" class="_jsPlumb_connector"></svg><div class="_jsPlumb_endpoint jsplumb-draggable jsplumb-droppable endpointDrag _jsPlumb_endpoint_connected _jsPlumb_endpoint_anchor_" style="position: absolute; height: 4px; width: 4px; left: 511px; top: 307px; visibility: visible;" dragid="jsPlumb_2_26" elid="phone1"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><svg style="position:absolute;left:513px;top:306px" width="69" height="75.5" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml" class="_jsPlumb_connector"><path d="M 66 69.5 C 35.5 54.75 35.5 54.75 5 0 " transform="translate(0,3)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="transparent" style="" stroke-width="10"></path><path d="M 66 69.5 C 35.5 54.75 35.5 54.75 5 0 " transform="translate(0,3)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#5c96bc" style="" stroke-width="2"></path><path pointer-events="all" version="1.1" xmlns="http://www.w3.org/1999/xhtml" d="M66,69.5 L57.90955238950943,54.31630290535579 L55.96906668944232,64.51799468896868 L49.01311433409637,72.22868381706593 L66,69.5" class="" stroke="#5c96bc" fill="#5c96bc" transform="translate(0,3)"></path></svg><div class="_jsPlumb_overlay aLabel" style="position: absolute; left: 524px; top: 347.25px;" id="jsPlumb_2_30">con_29</div><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable jsplumb-draggable _jsPlumb_endpoint_connected _jsPlumb_endpoint_full" style="position: absolute; height: 4px; width: 4px; left: 582px; top: 376.5px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"></svg></div><div class="_jsPlumb_endpoint jsplumb-draggable jsplumb-droppable endpointDrag _jsPlumb_endpoint_connected _jsPlumb_endpoint_anchor_" style="position: absolute; height: 4px; width: 4px; left: 511px; top: 275px; visibility: visible;" dragid="jsPlumb_2_37" elid="phone1"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"><circle cx="2" cy="2" r="2" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="#456" stroke="none" style=""></circle></svg></div><svg style="position:absolute;left:513px;top:189.66666666666666px" width="71" height="90.33333333333334" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml" class="_jsPlumb_connector"><path d="M 68 0 C 36.5 22.16666666666667 36.5 22.16666666666667 5 84.33333333333334 " transform="translate(0,3)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="transparent" style="" stroke-width="10"></path><path d="M 68 0 C 36.5 22.16666666666667 36.5 22.16666666666667 5 84.33333333333334 " transform="translate(0,3)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#5c96bc" style="" stroke-width="2"></path><path pointer-events="all" version="1.1" xmlns="http://www.w3.org/1999/xhtml" d="M68,0 L62.4084752703852,16.270674577229613 L58.881531654549605,6.503347986461979 L50.79535386598881,-0.012304611074666738 L68,0" class="" stroke="#5c96bc" fill="#5c96bc" transform="translate(0,3)"></path></svg><div class="_jsPlumb_overlay aLabel" style="position: absolute; left: 525px; top: 208.333333333333px;" id="jsPlumb_2_41">con_40</div><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable jsplumb-draggable _jsPlumb_endpoint_connected _jsPlumb_endpoint_full" style="position: absolute; height: 4px; width: 4px; left: 584px; top: 190.666666666667px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"><circle cx="2" cy="2" r="2" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="#456" stroke="none" style=""></circle></svg></div><div class="_jsPlumb_endpoint jsplumb-draggable jsplumb-droppable endpointDrag _jsPlumb_endpoint_connected _jsPlumb_endpoint_anchor_" style="position: absolute; height: 4px; width: 4px; left: 584px; top: 174.333333333333px; visibility: visible;" dragid="jsPlumb_2_48" elid="rejected"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"><circle cx="2" cy="2" r="2" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="#456" stroke="none" style=""></circle></svg></div><svg style="position:absolute;left:178px;top:150.83333333333334px" width="406" height="35.9761871946007" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml" class="_jsPlumb_connector"><path d="M 5 2 C 204 -19 204 -19 403 0 " transform="translate(0,25.5)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="transparent" style="" stroke-width="10"></path><path d="M 5 2 C 204 -19 204 -19 403 0 " transform="translate(0,25.5)" pointer-events="visibleStroke" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#5c96bc" style="" stroke-width="2"></path><path pointer-events="all" version="1.1" xmlns="http://www.w3.org/1999/xhtml" d="M5,2 L19.971781812532747,10.476187194600694 L16.13820389865004,0.8250898280733803 L17.873727934092358,-9.413462624417239 L5,2" class="" stroke="#5c96bc" fill="#5c96bc" transform="translate(0,25.5)"></path></svg><div class="_jsPlumb_overlay aLabel" style="position: absolute; left: 357.5px; top: 150.833333333333px;" id="jsPlumb_2_52">con_51</div><div class="_jsPlumb_endpoint _jsPlumb_endpoint_anchor_ jsplumb-droppable jsplumb-draggable _jsPlumb_endpoint_connected _jsPlumb_endpoint_full" style="position: absolute; height: 4px; width: 4px; left: 176px; top: 176.333333333333px;"><svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"><circle cx="2" cy="2" r="2" version="1.1" xmlns="http://www.w3.org/1999/xhtml" fill="#456" stroke="none" style=""></circle></svg></div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 5 - Pré-Análise</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 51 - Rejeitado</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 40 - Compra Dpt.Sistema</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 11 - Compra Dpt. RH</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 29 - Compra Desenvolvimento</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group no-margin-hr">
						<label for="" class="control-label">Con 41,30,19 - Decisor final</label>
					</div>
				</div>
			</div>

			<div class="panel-group panel-group-info" id="accordion-info-example">
				<div class="panel">
					<div class="panel-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-info-example" href="#collapseOne-info">
							Adicionar ou atualizar aprovadores
						</a>
					</div> <!-- / .panel-heading -->
					<div id="collapseOne-info" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body">
							<div class="row">
								<div class="note note-info">Para adicionar ou delegar aprovações, indique os nome das pessoas que tem de ser adicionadas a este processo</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="form-group no-margin-hr">
										<label for="" class="control-label">Participantes</label>										
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group no-margin-hr">
										<input type="text" id="" name="Última Aprovação" class="form-control" value="Tiago Esteves">
										<input type="text" id="" name="Última Aprovação" class="form-control" value="">
										<label for="" class="control-label">Seleccione os participantes às quais o fluxo de trabalho irá atribuir as tarefas. Pode seleccionar vários, separando-os por vírgulas</label>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="form-group no-margin-hr">
										<i class="fa fa-user"></i><i class="fa fa-times"></i><i class="fa fa-plus"></i>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="form-group no-margin-hr">
										<label for="" class="control-label">Informação</label>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group no-margin-hr">
										@Html.TextArea("Texto","Olá, chegou um novo pedido de aprovação")
									</div>
								</div> <!-- / .panel-body -->
							</div> <!-- / .collapse -->

							<div class="row">
								<div class="col-lg-4">
									<div class="form-group no-margin-hr">
										<label for="" class="control-label">Data para conclusão da tarefa</label>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group no-margin-hr">
										<input type="text" id="" name="Última Aprovação" class="form-control" value="">
									</div>
								</div> <!-- / .panel-body -->
								<div class="col-lg-2">
									<div class="form-group no-margin-hr">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div> <!-- / .collapse -->
						</div>
					</div>
				</div> <!-- / .panel -->

				<div class="panel">
					<div class="panel-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-info-example" href="#collapseTwo-info">
							Cancelar todas as tarefas de Aprovação
						</a>
					</div> <!-- / .panel-heading -->
					<div id="collapseTwo-info" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
						</div> <!-- / .panel-body -->
					</div> <!-- / .collapse -->
				</div> <!-- / .panel -->

				<div class="panel">
					<div class="panel-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-info-example" href="#collapseThree-info">
							Terminar fluxo de trabalho
						</a>
					</div> <!-- / .panel-heading -->
					<div id="collapseThree-info" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
						</div> <!-- / .panel-body -->
					</div> <!-- / .collapse -->
				</div> <!-- / .panel -->

				<div class="row">
					<button type="button" class="btn btn-primary" data-rel="submit" data-form="wt-edit-form" data-url="@Url.Action("Aprovacoes", "eWWF")">xxx</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/assets/PI/dom.jsPlumb-1.6.4-min.js"></script>
<script src="~/assets/PI/demo.js"></script>
<script src="~/assets/PI/demo-list.js"></script>
<script type="text/javascript">
	var sc_project = 6543403;
	var sc_invisible = 1;
	var sc_security = "b1f05c44";
</script>